  <div *ngIf="hero">
    <h2> {{hero.name}} details!</h2>
    <div><label>Id: </label>{{hero.id}}</div>
    <div>
      <label>Name: </label>
      <!-- two way binding with both brackets and parenthesis [()] with ngModel -->
      <input [(ngModel)]="hero.name" placeholder="name">
    </div>
    <!-- one way binding from view-to-source with parenthesis () on click event -->
    <button (click)="goBack()">Back</button>
    <!-- one way binding from source-to-view with brackets [] on disabled state -->
    <button (click)="save()" [disabled]='hero.name === "" '>Save</button>
  </div> 